@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Noto Sans Arabic', sans-serif;
	font-family: 'Rubik', sans-serif;
	text-align: right;
	background-color: #eeeeee;
	@apply bg-neutral-300;
}
